.loaderContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: hsl(250, 48%, 8%);
}

.loaderRing {
  height: 150px;
  width: 150px;
  border: 10px solid transparent;
  border-radius: 50%;
  position: absolute;
}

.loaderRing:nth-child(1) {
  border-top: 10px solid hsl(102, 63.1%, 59.6%);
  animation: rotate 1.5s linear infinite;
}

.loaderRing:nth-child(2) {
  border-right: 10px solid hsl(32.4, 40.2%, 52.2%);
  animation: rotate 1.5s linear reverse infinite;
}

.loaderRing:nth-child(3) {
  border-bottom: 10px solid white;
  animation: rotate 1.5s linear infinite;
}

.loaderText {
  color: white;
  font-family: "Roboto", sans-serif;
  margin-top: 160px;
  padding: 1rem;
  animation: fadeInOut 1.5s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .loaderRing {
    height: 100px;
    width: 100px;
  }
  
  .loaderText {
    margin-top: 110px;
  }
}